<!DOCTYPE html>
<html>
<head>
    <title>...responsive gemacht</title>
    <meta content="width=device-width, user-scalable=0, initial-scale=1.0" name="viewport" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="css/styles_mq.css" />
</head>
<body>
    <div class="page_wrapper">
        <div class="page_header">
            <h1>Dipl.-Ing. /Bauleiter /-in gesucht!</h1>
        </div>
        <div class="page_teaser">
            <img src="http://lorempixel.com/1000/300" alt="">
        </div>
        <div class="job_detail tasks cf">
           
            <div class="job_detail_text">
                <h2>Deine Aufgaben</h2>
                <ul>
                    <li>Kalkulation u. Erstellung von Angeboten inkl. Prüfung der Möglichkeit von Nebenangeboten und technischen Alternativen</li>
                    <li>Projektvorbereitung und Projektbegleitung, Einweisung der Mitarbeiter</li>
                    <li>Baustellenaufsicht, Überwachung der Einhaltung von Vorschriften</li>
                    <li>Anmelden von Baubehinderungen, Mehrkosten etc.</li>
                    <li>Kontrolle der ordnungsgemäßen Abwicklung</li>
                    <li>Dokumentation des Bauverlaufs</li>
                    <li>Halten von Kundenkontakten</li>
                   
                </ul>
                <h2>Das solltest du mitbringen</h2>
                <ul>
     
                    <li>Jägermeister</li>
                   
                </ul>
            </div>
            <div class="job_detail_img">
                <img src="http://lorempixel.com/280/230" alt="">
            </div>    
        </div>
    </div>
</body>
</html>